@model IEnumerable<Inmobiliaria.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>listado de Usuarios</h1>

<p>
    <a asp-action="Create">Crear Nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdUsuario }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdUsuario }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdUsuario })
            </td>
        </tr>
}
    </tbody>
</table>
