@model IEnumerable<Inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantHambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPropietario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdInmueble)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoInmueble)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantHambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPropietario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdInmueble  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IdInmueble}) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdInmueble })
            </td>
        </tr>
}
    </tbody>
</table>
